@import url(/css/menuCollapse.css);
#imgLogoCompleto {
    width: 205px;
}

#imgLogoSimples {
    width: 40px;
}

.logos-lateral {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-lateral {
    width: 30px;
}