@import url(/css/menuCollapse.css);
#imgLogoCompleto {
    width: 205px;
}

#imgLogoSimples {
    width: 40px;
}

.logos-lateral {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 768px) {
    .logos-lateral {
        flex-direction: column;
    }
}

.img-lateral {
    width: 30px;
}


/*
#homeSubmenuVenda li {
    display: flex;
    flex-direction: row;
}*/